<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="submit()">
    <app-lib-input [FormControlName]="name" [form]="form" placeholder="enter username" type="text" username="userName"></app-lib-input>
    <ion-input formControlName="password" placeholder="password"></ion-input>
    <!-- <ion-input formControlName="name"></ion-input> -->
    <ion-button type="submit">
      Click me
    </ion-button>
  </form>
</ion-content>
